<!DOCTYPE html>
<html lang="en">
<head>
    <title>TA2020 MUO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <style>
    </style>
</head>
<body>
<span id="app">
{% include "navigation" %}
<div class="container-fluid" style="margin-top:5px">
    {% block content %}
    {% endblock content %}
</div>
</span>
<script>
    var _vm = new Vue({
        el: '#app',
        data: {
            sortKey: 'tanr',
            reverse: false,
            search: '',
            columns: [],
            meldungen: []
        },
        mounted(){ // when the Vue app is booted up, this is run automatically.
            let self = this; // create a closure to access component in the callback below
            $.getJSON('./json/meldungen/data.js', function (data) {
                self.meldungen = data;
            });
            $.getJSON('./json/meldungen/header.js', function (data) {
                self.columns = data;
            });
        },
        methods: {
            sortBy: function(sortKey) {
                this.reverse = (this.sortKey === sortKey) ? !this.reverse : false;
                this.sortKey = sortKey;
            }
        },
        computed: {
            orderedMeldungen: function () {
                var direction = this.reverse ? 'asc' : 'desc';
                var rex = new RegExp(this.search, 'i');
                var filtered = this.meldungen.filter(function(m){
                    return rex.test(JSON.stringify(m));
                });
                return _.orderBy(filtered, this.sortKey, direction);
            },
            lengthOrderedMeldungen: function() {
                return this.orderedMeldungen.length;
            }
        }
    });
</script>
</body>
</html>